{%extends 'base.html'%}
{%block content%}
   <div class="container">

   <div class="row">
    <h3>Cadastro de Contato</h3>
    <form action="" method="post" class="row mt-4">
        {{forms.csrf_token}}

        {{forms.nome.label()}}
        {{forms.nome}}

        {{forms.email.label()}}
        {{forms.email}}

        {{forms.assunto.label()}}
        {{forms.assunto}}

        {{forms.mensagem.label()}}
        {{forms.mensagem}}

        {{forms.btnSubmit()}}
    </form>
   </div>

   <div>
    {%include 'nav.html'%}
   </div>
{%endblock%}